.buildingteams {
    margin: 5% 10%;
    line-height: 2;
    color: #81807F;
  }
  
  .circle_icon {
    width: 80px; /* Set the width and height of the circle */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-color: #C42629; /* Set the background color */
    border-radius: 50%; /* Create a circular shape */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .gridItem {
    width: 338px;
    max-width: 90%;
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
  }
  
  .title {
    text-transform: uppercase;
    color: black;
    margin: 20px;
    text-align: center;
  }
  
  .list {
    font-size: 13px;
    margin-left: 20px;
  }
  
    
  .list li{
    margin-bottom: 10px;
  }
  
  
  @media screen and (max-width: 768px) {
    .gridItem {
        /* width: 500px; */
        max-width: 100%;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .buildingteams {
      color: white;
    }
  }